<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Carros</title>
</head>
<body>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Marca</label>
    <div class="col-md-4">
      <input id="marca" name="marca" placeholder="Marca" type="text" class="form-control input-md">[(ngModel)]="copmutador.marca"
    </div>
  </div>


  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Modelo</label>
    <div class="col-md-4">
      <input id="modelo" name="modelo" placeholder="Modelo" type="text" class="form-control input-md">[(ngModel)]="computador.modelo"
    </div>
  </div>


  <div class="form-group">
    <label for="selectbasic" class="col-md-4 control-label">Tipo</label>
    <div class="col-md-4">
      <select name="tipo" id="tipo" class="form-control" [(ngModel)]="carro.tipo">
        <option value="Passeio">Passeio</option>
        <option value="Conversível">Conversível</option>
        <option value="Passeio">Pick-up</option>
        <option value="Conversível">Antigo</option>
        <option value="Passeio">SUV</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="singlebutton" class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <button id="salvar" name="salvar" class="btn btn-primary" (click)="cadastraComputador()">Salvar</button>
    </div>
  </div>

  <div class="form-group">
    <label for="singlebutton" class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <button id="salvar" name="salvar" class="btn btn-primary" (click)="cadastraCarro()">Salvar</button>
    </div>
  </div>

  <div class="form-group" *ngIf="computador.marca == 'LG' ">
    <label for="textinput" class="col-md-4 control-label">Endereço da autorizada</label>
    <div class="col-md-4">
      <input id="endAutorizada" name="endAutorizada" placeholder="Endereço da autorizada" type="text" class="form-control input-md" [(ngModel)]="computador.endAutorizada">
    </div>
  </div>

  <div class="form-group" *ngIf="carro.combustivel=='Gas Natural'">
    <label for="textinput" class="col-md-4 control-label">Registro GNV</label>
    <div class="col-md-4">
      <input id="modelo" name="modelo" placeholder="Registro GNV" type="text" class="form-control input-md" [(ngModel)]="carro.registro" ]>
    </div>
  </div>



</body>
</html>
